{% extends '@Contabilidad/BaseFormularios.html.twig' %}

{% block areatrabajo %}
	{#FILA 1#}
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong><a href="{{ path('venta_index', {'id_cliente':cliente.id, 'mes':mes, 'ano':ano}) }}">Libro Ventas</a></strong>
					<span class="badge pull-right">45</span>
				</div>
				<div class="panel-body">
					<p><strong>Suma: </strong></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong><a href="#">Libro Compras</a></strong>
					<span class="badge pull-right">45</span>
				</div>
				<div class="panel-body">
					<p><strong>Suma: </strong></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong><a href="#">Resumen IVA</a></strong>
					<span class="badge pull-right">45</span>
				</div>
				<div class="panel-body">
					<p><strong>Suma: </strong></p>
				</div>
			</div>
		</div>
		
		{#FILA 2#}
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong><a href="#">Libro Ventas</a></strong>
					<span class="badge pull-right">45</span>
				</div>
				<div class="panel-body">
					<p><strong>Suma: </strong></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong><a href="#">Libro Compras</a></strong>
					<span class="badge pull-right">45</span>
				</div>
				<div class="panel-body">
					<p><strong>Suma: </strong></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong><a href="#">Resumen IVA</a></strong>
					<span class="badge pull-right">45</span>
				</div>
				<div class="panel-body">
					<p><strong>Suma: </strong></p>
				</div>
			</div>
		</div>
		
		{#FILA 3#}
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong><a href="#">Libro Ventas</a></strong>
					<span class="badge pull-right">45</span>
				</div>
				<div class="panel-body">
					<p><strong>Suma: </strong></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong><a href="#">Libro Compras</a></strong>
					<span class="badge pull-right">45</span>
				</div>
				<div class="panel-body">
					<p><strong>Suma: </strong></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong><a href="#">Resumen IVA</a></strong>
					<span class="badge pull-right">45</span>
				</div>
				<div class="panel-body">
					<p><strong>Suma: </strong></p>
				</div>
			</div>
		</div>
		
		{#FILA 4#}
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong><a href="#">Libro Ventas</a></strong>
					<span class="badge pull-right">45</span>
				</div>
				<div class="panel-body">
					<p><strong>Suma: </strong></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong><a href="#">Libro Compras</a></strong>
					<span class="badge pull-right">45</span>
				</div>
				<div class="panel-body">
					<p><strong>Suma: </strong></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong><a href="#">Resumen IVA</a></strong>
					<span class="badge pull-right">45</span>
				</div>
				<div class="panel-body">
					<p><strong>Suma: </strong></p>
				</div>
			</div>
		</div>
		
	</div>
	


{% endblock %}
