{% extends '@Contabilidad/BaseFormularios.html.twig' %}

{% block title %}
	{{ parent() }}
	{{ mes }} - {{ ano }}
{% endblock %}

{% block funciones %}
	{% include 'ContabilidadBundle:Partials:cuadroFunciones.html.twig' %}
{% endblock %}

{% block areatrabajo %}
	{#FILA 1#}
	<div class="row">
		{% include 'ContabilidadBundle:Partials:etiquetaMes.html.twig' with
			{
				'objetivo':{
					'ruta':'venta_index',
					'id_cliente':cliente.id,
					'mes':mes,
					'ano':ano
				},
				'titulo':'Libro Ventas',
				'cantidad':totventas[0]['cantidad'],
				'total':totventas[0]['suma']
			}
		%}
		
		{% include 'ContabilidadBundle:Partials:etiquetaMes.html.twig' with
		{
		'objetivo':{
		'ruta':'compra_index',
		'id_cliente':cliente.id,
		'mes':mes,
		'ano':ano
		},
		'titulo':'Libro Compras',
		'cantidad':totcompras[0]['cantidad'],
		'total':totcompras[0]['suma']
		}
		%}
	</div>
	


{% endblock %}
