{% extends '@Contabilidad/BaseFormularios.html.twig' %}

{% block funciones %}
	{% include 'ContabilidadBundle:Partials:cuadroFunciones.html.twig' %}
{% endblock %}

{% block areatrabajo %}
	{#FILA 1#}
	<div class="row">
		{% include 'ContabilidadBundle:Partials:etiquetaMes.html.twig' with
			{
				'objetivo':{
					'ruta':'venta_index',
					'id_cliente':cliente.id,
					'mes':mes,
					'ano':ano
				},
				'titulo':'Libro Ventas',
				'cantidad':totales[0]['cantidad'],
				'total':totales[0]['suma']
			}
		%}
	</div>
	


{% endblock %}
