{% extends '@Contabilidad/layout-contab.html.twig' %}
{% block title %}Menu Contabilidad{% endblock %}
{% block head %}
	{{ parent() }}
	<nav class="navbar navbar-default">
			<!-- BOTONES -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<!-- Button trigger modal -->
				<a href="{{ path('contabilidad_lista_clientes') }}" class="btn btn-default navbar-btn">
					Seleccionar Cliente
				</a>
				<a href="http://www.google.com" class="btn btn-default navbar-btn" target="_blank">
					Facturación
				</a>
				
			</div>
	</nav>
	
	
{% endblock %}