{% extends '::layout-responsive.html.twig' %}

{% block stylesheets%}
	{{ parent() }}
	<link href="{{ asset('css/estilos.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
<h1>
	hola mundo de PersonalBundle
</h1>
{% endblock %}
