
input[type=text], select{
    height: 25px;
    padding: 0px 10px;
    margin: 0px 2px;
    color: #6d6d6d;
    /*text-align: center;*/
    /*text-transform: uppercase;*/
    /*bootstrap*/
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: block;
}

.numero{
    text-align: right;
}

form textarea{
    padding: 0px 10px;
    margin: 0px;
    margin-bottom: 5px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 70px;
    max-height: 100px;
    /*background: #000;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


form input[type=checkbox]{
    display: none;
}

form  .chklabel{
    margin:18px 0 0 5px;
    padding: 5px 15px 5px 35px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 5px;
}

form  .chklabel:hover{
    background: rgba(198, 63, 60, 0.2);
}

form  .chklabel:before{
    content: '';
    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border:2px solid #9cb7da;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    top:6px;
}

form input[type=checkbox]:checked + label{
    padding: 5px 15px;
    background: rgba(198, 63, 60, 0.87);
    /*border-radius: 5px;*/
    color: #FFFFFF;
}

form input[type=checkbox]:checked + label:before{
    display: none;
}

form input[type=text]:focus, textarea:focus, select:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

form input::-moz-placeholder {
    color: #999;
    opacity: 1;
}

form label{
    padding: 0px 2px;
    margin: 2px 0 0 0;
}

.lectura{
    background-color: #ededed!important;
    color: #5b5b5b;
    border: 0px!important;
    box-shadow: none!important;
}

.inactivo{
    background-color: #e2e2e2;
    color: #5b5b5b;
}

.padre{
    display: flex;
    align-items: stretch;
}

.filtros{
    width:25%;
    background: #d5e6e9;
    padding: 0 15px 10px;
}

.area_trabajo{
    width:75%;
    padding: 0 10px;
}

.widget{
    display: inline-block;
    margin-bottom: 5px;
}

.enlinea{
    display: inline;
    margin: 0;
}

.linea{
    padding: 0;
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    /*margin-bottom:5px;*/
    align-items: flex-end;
}

.error{
    color: #FFFFFF !important;
    background: #eb4a47;
}

#borrar_linea span:hover{
    cursor: pointer;
}

.aviso{
    font-size: 40px;
    color: rgba(46, 13, 0, 0.69);
}

.total{
    background-color: #d3d3d3 !important;
    color: #000;
}

.total td{
    border-right-color: #FFFFFF!important;
}
.total td.ultimo{
    border-right-color: #d3d3d3 !important;
}

ul li{
    list-style: none;
}

ul li div{
    padding: 3px 0;
}

li button{
    margin-bottom: 2px!important;
    margin-left: 3px;
}