*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0;
}

body {
    background-color: #ffffff;
    /*background-image: url("..//img/logotipo_simons (rasgado).png");*/

    /*background-position: top;*/
    /*background-repeat: repeat-y;*/
    /*background-clip: border-box;*/
    /*position: relative;*/
}

header{
    background: #204d74;
    height: 70px;
    margin: 0px;
    padding: 10px 0px;
    color: #b9b9b9;
}

#titulo{
    color: #b9b9b9;
    font-family: 'Domine', serif;
    font-style: normal;
    font-size: 25px;
}
header a{
    color: #b9b9b9;
}

table{
    background-color: #ffffff;
}

table th{
    background-color: #204d74;
    color: #b9b9b9;
}


#trabajo{
    float: inherit;
}

h2{
    color: #73120d;
}

#periodo p{
    color: #73120d;
    font-size: 15px;
}

form input, select{
    height: 25px;
    padding: 0px 10px;
    margin: 0px 2px;
    color: #6d6d6d;
    /*text-align: center;*/
    /*text-transform: uppercase;*/
    /*bootstrap*/
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: block;
}

form .numero{
    text-align: right;
}

form textarea{
    padding: 0px 10px;
    margin: 0px;
    margin-bottom: 5px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 50px;
    max-height: 80px;
    /*background: #000;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

form input:focus, textarea:focus, select:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

form input::-moz-placeholder {
    color: #999;
    opacity: 1;
}

form label{
    padding: 0px 2px;
    margin: 2px 0 0 0;
}

.inactivo{
    background-color: #e2e2e2;
    color: #000;
}

.padre{
    display: flex;
    align-items: stretch;
}

.filtros{
    width:25%;
    background: #d5e6e9;
    padding: 0 15px 10px;
}

.area_trabajo{
    width:75%;
    padding: 0 10px;
}

.widget{
    display: inline-block;
    margin-bottom: 5px;
}

.enlinea{
    display: inline;
    margin: 0;
}

.linea{
    padding: 0;
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    /*margin-bottom:5px;*/
}

.error{
    color: #FFFFFF;
    background: #eb4a47;
}

#borrar_linea span:hover{
    cursor: pointer;
}