<div class="panel panel-default">
    <div class="panel-heading" ><strong> Periodo: </strong>
        <a href="{{ path('contabilidad_periodo_cliente', {'id_cliente':cliente.id, 'mes':mes, 'ano':ano}) }}">
            {{ mes }} - {{ ano }}
        </a>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="btn-group col-md-12 btn-group-justified" role="group" aria-label="x">
                <a href="{{ path('venta_index', {'id_cliente':cliente.id, 'mes':mes, 'ano':ano}) }}" class="btn btn-default {% if app.request.attributes.get('_route') == 'venta_index' %} active {% endif %}">Ventas</a>
                <a href="#" class="btn btn-default">NC Emitidas</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="btn-group col-md-12 btn-group-justified" role="group" aria-label="x">
                <a href="#" class="btn btn-default">Compras</a>
                <a href="#" class="btn btn-default">NC Recibidas</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="btn-group col-md-12 btn-group-justified" role="group" aria-label="x">
                <a href="#" class="btn btn-default">Resumen IVA</a>
                <a href="#" class="btn btn-default">Resumen IRPC</a>
            </div>
        </div>
    </div>
</div>