{% extends 'baseres.html.twig' %}

{% block title %} Simons | Login {% endblock %}

{% block body %}
<div class="container">
	{#<img src="{{ asset('bundles/app/img/logotipo_simons (rasgado).png') }}" alt="">#}
	<form action="{{ path('login') }}" method="post">

		<h1>Inicio de Sesión</h1>

		<input type="text" maxlength="20" placeholder="Ingrese su usuario" id="usuario" name="usuario">
		<input type="password" maxlength="20" placeholder="INGRESE SU CONTRASEÑA" id="pw" name="pw">
		<button type="submit">Ingresar</button>

	</form>

</div>


{% endblock %}